@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
} 

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.container {
    max-width: 320px;
    height: auto;
    background-color: var(--white);
    border-radius: 1em;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.0476518);
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 1em;
    border-radius: 2em;
}

.one {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    color: var(--dark-blue);
    padding: 0.2em 1.4em;
    font-size: 1.4em;
    font-weight: 700;
}

.two {
    text-align: center;
    font-size: 1em;
    color: var(--grayish-blue);
    font-family: 'Outfit', sans-serif;
    padding: 1em 2em;
    margin-bottom: 2em;
}

.attribution {
    font-size: 0.67em;
    font-family: 'Outfit', sans-serif;
    color: var(--dark-blue);
    position: absolute;
    bottom: 10px;
}

.attribution a {
    text-decoration: none;
}

.attribution a:hover {
    color: var(--grayish-blue);
}

.attribution a:active {
    color: var(--white);
}